[submodule "webste-book-backend"]
	path = webste-book-backend
	url = git@github.com:dvhoang03/webste-book-backend.git
[submodule "website-book-frontend"]
	path = website-book-frontend
	url = https://github.com/hoangvbhp142/book_store_FE.git
